scripts/.ipynb_checkpoints/
scripts/workinprogress/
#data/flood/flood_modis_merged.nc
data/rainfall/chirps-v2.0-prelim/tifs/*gz
data/rainfall/chirps-v2.0-prelim/tifs/*tif
data/rainfall/chirps-v2.0/tifs/*gz
data/rainfall/chirps-v2.0/tifs/*tif
